header {
  padding: 1em;
  text-align: center;
}

#errormsg {
  padding: 1em;
}


#form {
}
input[type="text"] {
  padding: 0.5em;
  margin-right: 1em;
  height: 40px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
}


article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

button {
  padding: 1em;
  cursor: default;
}
.btn {
  cursor: default;
}

label {
  margin-top: 0.5em;
}

@media only screen and (max-device-width: 480px) {
    main {
    display: block;
    align-items: left;
    margin-left: 1.5em;
  }
    article {
      display: block;
    }
}
